<ul id="tlyPageGuide">
 
	<li class="tlypageguide_right" data-tourtarget=".plugin-launcher">
        <div>
            This is the start menu that provides an introduction to the mapping applciation, specific links to apps in the left sidebar. Each item below this contains a web mapping application, or "app."
        </div> 
    </li>
    <li class="tlypageguide_right" data-tourtarget=".dropdown-icon-container">
        <div>This is a hamburger menu for exploring external links outside of the mapping tool.</div>
    </li>
    <li class="tlypageguide_left" data-tourtarget=".icon-wrench">
        <div>These tools let you: measure an area or distance, zoom to the full exent of the mapping application, create a map with data from multiple apps, and save a bookmark of a map scene to send to others.</div>
    </li>
    <li class="tlypageguide_left" data-tourtarget=".basemap-selector">
        <div>
             Change the base map here in the dropdown menu.
        </div> 
    </li>
    <li class="tlypageguide_left" data-tourtarget=".searchInputGroup">
        <div>Search for a place using Esri's geocoding global database.</div>
    </li>

<!-- barrier-prioritization Tour -->
    <li class="tlypageguide_left" data-tourtarget=".getHelpBtn">
        <div>Click this button to enter the app and toggle back and forth between the app and the documentation.</div>
    </li>
    <li class="tlypageguide_left" data-tourtarget=".bp_flexColHCenter.zoomState">
        <div>Select a state to zoom to it, see it's stats, and display its barriers. Click on a barrier to see information about that barrier and expose additional map functionality.</div>
    </li>
    <li class="tlypageguide_right" data-tourtarget=".exploreConsensus">
        <div>Open this pane to explore & interact with the consensus anadromous fish prioritization results.</div>
    </li>
    <li class="tlypageguide_right" data-tourtarget=".runCustomAccord">
        <div>Open this pane to run a customized prioritization.  Inputs that can be customized include: 1) the degree of barrier severity that is assessed, 2) the geographic extent of the analysis, 3) the metric weights, 4) up to 10 barriers that can be modeled as removed, and 5) summary statistics on the results.</div>
    </li>
   
   <li class="tlypageguide_right" data-tourtarget=".customAnalysisResultsAccord">
        <div>When a custom analysis is complete, the results, input parameters, and sumamry statistics (if they are selected) can be downlaoded from this pane.</div>
    </li>
</ul>